<a href="https://colab.research.google.com/github/brenoslivio/SME0828_DataScience/blob/master/Projects/3%20-%20Classifica%C3%A7%C3%A3o/Projeto3_Classificacao_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SME0828 - Introdução à Ciência de Dados
# Projeto 3: Classificação

### Alunos

Aline Fernanda da Conceição, Nº USP: 9437275

Breno Lívio Silva de Almeida, Nº USP: 10276675

Matheus Victal Cerqueira, Nº USP: 10276661

***Universidade de São Paulo, São Carlos, Brasil.***

## Exercícios sugeridos para a atividade avaliativa 3

Os seguintes exercícios foram sugeridos para entrega em 03 de novembro de 2020 para a disciplina SME0828 - Ciência de Dados oferecida pelo Instituto de Ciências Matemáticas e de Computação (ICMC) da Universidade de São Paulo (USP), a qual foi ministrada pelo professor Francisco Aparecido Rodrigues. Vamos trabalhar com o conjunto de dados [*Star dataset to predict star types*](https://www.kaggle.com/deepu1109/star-dataset). O dataset tem várias informações sobre características de estrelas como temperatura absoluta, luminosidade relativa, tipos de estrelas, entre outros. Vamos classificar os dados considerando vários classificadores conhecidos.



---

## Sumário

1. Desenvolvimento

  1.1 [Exercício 1](#ex1)

  1.2 [Exercício 2](#ex2)

  1.3 [Exercício 3](#ex3)

  1.4 [Exercício 4](#ex4)

  1.5 [Exercício 5](#ex5)

  1.6 [Exercício 6](#ex6)



---

## Desenvolvimento



### <a name="ex1"></a> 1 - Considere a base de dados sobre doenças cardíacas:https://www.kaggle.com/ronitf/heart-disease-uci 
### Faça o pré-processamento dos dados e classifique os pacientes de acordo com a variável “target”.  Considere os classificadores: Bayesiano paramétrico, Bayesiano não-paramétrico e Naive Bayes.

#### Pré-processamento dos dados

Foi considerada a base de dados de estrelas [*Star dataset to predict star types*](https://www.kaggle.com/deepu1109/star-dataset) para o exercício análogo. Vamos carregar seus dados considerando informações que serão acrescentando como os tipos de estrelas que será explicado no código.

In [44]:
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import pandas as pd
import statistics

dataStar = pd.read_csv('https://raw.githubusercontent.com/brenoslivio/SME0828_DataScience/master/Projects/data/starsDataset.csv', 
        dtype={
          "Temperature (K)": np.int64,
          "Luminosity(L/Lo)": np.float64,
          "Radius(R/Ro)": np.float64,
          "Absolute magnitude(Mv)": np.float64,
          "Star type": str,
          "Star color": str,
          "Spectral Class": str
        },
        na_values="",)

dataStar.replace("", np.nan, inplace=True)

dataStar.dropna(inplace=True)

# Já vamos colocar os labels adequados para os tipos de estrelas que não tem de padrão no dataset

# star class:  Star Type
#     0     :  Brown Dwarf
#     1     :  Red Dwarf
#     2     :  White Dwarf
#     3     :  Main-Sequence
#     4     :  Supergiant
#     5     :  Hypergiant

dataStar["Star type"] = dataStar["Star type"].str.replace("0", "Brown Dwarf")
dataStar["Star type"] = dataStar["Star type"].str.replace("1", "Red Dwarf")
dataStar["Star type"] = dataStar["Star type"].str.replace("2", "White Dwarf")
dataStar["Star type"] = dataStar["Star type"].str.replace("3", "Main-Sequence")
dataStar["Star type"] = dataStar["Star type"].str.replace("4", "Supergiant")
dataStar["Star type"] = dataStar["Star type"].str.replace("5", "Hypergiant")

dataStar.sample(5)

     Temperature (K)  Luminosity(L/Lo)  ...  Star color  Spectral Class
208            17920           0.00111  ...        Blue               B
230            24145      382993.00000  ...  Blue-white               B
149            12984           0.00088  ...  Blue White               B
76              2890           0.00340  ...         Red               M
102            23000      127000.00000  ...        Blue               O

[5 rows x 7 columns]

Temos três variáveis `Star type`, `Star color`, `Spectral Class` que podemos possivelmente indicar como labels para fazer a classificação, mas precisamos ter uma noção da frequência absoluta dos valores de cada variável.

In [18]:
dataStar['Star type'].value_counts()

Brown Dwarf      40
Red Dwarf        40
Supergiant       40
Hypergiant       40
White Dwarf      40
Main-Sequence    40
Name: Star type, dtype: int64

In [19]:
dataStar['Star color'].value_counts()

Red                   112
Blue                   55
Blue-white             26
Blue White             10
yellow-white            8
White                   7
white                   3
Blue white              3
Yellowish White         3
Whitish                 2
Orange                  2
yellowish               2
Orange-Red              1
Blue white              1
Blue-White              1
Blue                    1
White-Yellow            1
Pale yellow orange      1
Yellowish               1
Name: Star color, dtype: int64

In [20]:
dataStar['Spectral Class'].value_counts()

M    111
B     46
O     40
A     19
F     17
K      6
G      1
Name: Spectral Class, dtype: int64

Definitivamente o tipo de estrela seria a melhor opção de classificação considerando que alguns valores nas outras variáveis aparecem somente uma vez, o que não teria sentido para conseguir validar um possível aprendizado. Vamos pegar as classes nessa variável `Star type`.

In [29]:
# Nomes das classes
classes = np.array(pd.unique(dataStar[dataStar.columns[-3]]), dtype=str)  

# Atributos do dataset
attributes = list(dataStar.columns)

classes

array(['Brown Dwarf', 'Red Dwarf', 'White Dwarf', 'Main-Sequence',
       'Supergiant', 'Hypergiant'], dtype='<U13')

Dependendo da relação dessas variáveis que foram descartadas como possível label, podemos até usar usando a função do Pandas [get_dummies](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html) para transformar facilmente em valores binários por coluna. Entretanto, para o caso desse dataset, elas impactam negativamente na classificação, por isso iremos removê-las.

In [88]:
dataConcat = dataStar.copy()

#Spectral = pd.get_dummies(dataConcat['Spectral Class'], drop_first=True)
dataConcat.drop('Spectral Class',axis=1,inplace=True)
#dataConcat = pd.concat([dataConcat, Spectral],axis=1)

#Color = pd.get_dummies(dataConcat['Star color'], drop_first=True)
dataConcat.drop('Star color',axis=1,inplace=True)
#dataConcat = pd.concat([dataConcat, Color],axis=1)

dataConcat.sample(5)

     Temperature (K)  Luminosity(L/Lo)  ...  Absolute magnitude(Mv)    Star type
231            38234      272830.00000  ...                   -9.29   Hypergiant
149            12984           0.00088  ...                   11.23  White Dwarf
20             25000           0.05600  ...                   10.58  White Dwarf
101            40000      813000.00000  ...                   -6.23   Supergiant
118             6850      229000.00000  ...                  -10.07   Hypergiant

[5 rows x 5 columns]

Vamos converter o data frame para um array numpy com a intenção de manipular melhor com bibliotecas próprias para a classificação.

In [98]:
data = dataConcat.to_numpy()
data

array([[3068, 0.0024, 0.17, 16.12, 'Brown Dwarf'],
       [3042, 0.0005, 0.1542, 16.6, 'Brown Dwarf'],
       [2600, 0.0003, 0.102, 18.7, 'Brown Dwarf'],
       ...,
       [8829, 537493.0, 1423.0, -10.73, 'Hypergiant'],
       [9235, 404940.0, 1112.0, -11.23, 'Hypergiant'],
       [37882, 294903.0, 1783.0, -7.8, 'Hypergiant']], dtype=object)

In [100]:
dataTrain = data
y = dataTrain[:, 4] # Pega o label que iremos classificar, o tipo de estrela
dataTrain = np.delete(dataTrain, 4, 1)
X = dataTrain[:,:] # Pega os 4 valores relevantes que sobraram para a classificação das estrelas

Normalizando os dados.

In [106]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X)
X = scaler.transform(X)

In [107]:
from sklearn.model_selection import train_test_split
p = 0.8 # fracao de elementos no conjunto de treinamento
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = p, random_state = 42)

In [108]:
from scipy.stats import multivariate_normal

# P irá guardar a probabilidade para as linhas e colunas
P = pd.DataFrame(data = np.zeros((x_test.shape[0], len(classes))), columns = classes) 

Pc = np.zeros(len(classes)) #fraction of elements in each class
for i in np.arange(0, len(classes)):
    elements = tuple(np.where(y_train == classes[i]))
    Pc[i] = len(elements)/len(y_train)
    Z = x_train[elements,:][0]
    m = np.mean(Z, axis = 0)
    cv = np.cov(np.transpose(Z))
    for j in np.arange(0,x_test.shape[0]):
        x = x_test[j,:]
        pj = multivariate_normal.pdf(x, mean=m, cov=cv, allow_singular=True)
        P[classes[i]][j] = pj*Pc[i]

In [109]:
from sklearn.metrics import accuracy_score

y_pred = []

for i in np.arange(0, x_test.shape[0]):
    c = np.argmax(np.array(P.iloc[[i]]))
    y_pred.append(classes[c])

y_pred = np.array(y_pred, dtype=str)

score = accuracy_score(y_pred, y_test)
print('Accuracy:', score)

Accuracy: 0.9791666666666666

### <a name="ex2"></a> 2 - No classificar não-paramétrico, verifique o efeito do hiperparâmetro h na classificação dos dados de diabetes, encontrando seu melhor valor: https://www.kaggle.com/uciml/pima-indians-diabetes-database